# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ================================
# Virtual Environments
# ================================
.venv/
venv/
env/

# ================================
# VS Code / IDE
# ================================
.vscode/
.idea/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Pytest
# ================================
.pytest_cache/
.coverage
htmlcov/

# ================================
# Logs
# ================================
logs/
*.log

# ================================
# Spark
# ================================
spark-warehouse/

# ================================
# Environment Variables
# ================================
.env

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db